{% extends '::base.html.twig' %}

{% block body -%}
	{% if error %}
		<div>{{ error.message }}</div>
	{% endif %}
	<h1>Ingreso de usuario</h1>
	<form action="{{ path('login_check') }}" method="post">

		{{ f_entrada("username", "_username", "text", "Cedula", "required")|raw}}
		{{ f_entrada("password", "_password", "password", "Clave", "required")|raw}}
		{#
			If you want to control the URL the user
			is redirected to on success (more details below)
			<input type="hidden" name="_target_path" value="/account" />
		#}
		<button type="submit">Ingresar</button>
		<a href="{{ path('distrital_cecad_homepage') }}">Cancelar</a>
	</form>
	<hr>
	<a href="{{path('registro')}}">Registro de usuario nuevo</a>
{% endblock %}
