{% extends '::base.html.twig' %}

{% block body -%}
	<h1>Datos del usuario</h1>
	Nombres: {{usuario.nombre}}<br/>
	Apéllidos: {{usuario.apellido}}<br/>
	Documento: {{usuario.cedula}}<br/>

	<a href="{{ path('admin_usuario_edit', {'id':usuario.id}) }}">Actualizar datos basicos usuario</a>
{#	<a href="{{ path('admin_estudiante_edit', {'id':usuario.id}) }}">Actualizar datos estudiante</a> #}


	<div>
		<h1>Resumen Proyectos</h1>
		
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>Nombre</th>
					<th>Rol</th>
				</tr>
			</thead>
		
			<tbody>
				{% for participacion in participaciones %}
					<tr>
						<td>
							{{participacion.proyecto.id}}
						</td>
						<td>
							{{participacion.proyecto.nombre}}
						</td>
						<td>
							{{participacion.rol}}
						</td>
						<td>
							<a href="{{ path('usuario_proyecto_show', {'id':participacion.proyecto.id}) }}">Detalles</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<a href="{{path('usuario_proyecto_new')}}">Registrar nuevo Proyecto</a>

	</div>



{% endblock %}
