{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Datos del Proyecto</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Objetivo del proyecto</th>
                <td>{{ entity.objetivos }}</td>
            </tr>
            <tr>
                <th>Descripci贸n del proyecto</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Integrantes</th>
                <td>* ToDo *: FALTA MOSTRAR LOS INTEGRANTES</td>
            </tr>
        </tbody>
    </table>
    
    
    <h1>Aportes</h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Fecha Inicio</th>
                <td>{{ entity.fechaInicio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha Final</th>
                <td>{{ entity.fechaFinal|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Entregables por calendario</th>
                <td>* ToDo *</td>
         	</tr>
            <tr>
                <th>Adjuntar</th>
                <td>* ToDo *</td>
            </tr>
		</tbody>
    </table>

    <h1>Software</h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Maquina virtual</th>
                <td>* ToDo *</td>
         	</tr>
            <tr>
                <th>Sistema operativo</th>
                <td>* ToDo *</td>
            </tr>
            <tr>
                <th>Programas instalados</th>
                <td>* ToDo *</td>
            </tr>
            <tr>
                <th>Tiempo utilizaci贸n</th>
                <td>* ToDo *</td>
            </tr>
            <tr>
                <th>Costo operaci贸n</th>
                <td>* ToDo *</td>
            </tr>
            <tr>
                <th>Lugar operaci贸n</th>
                <td>* ToDo *</td>
            </tr>
		</tbody>
    </table>






    <ul class="record_actions">
		<li>
		    <a href="{{ path('usuario_proyecto') }}">
		        Volver a la lista detallada
		    </a>
		</li>
		<li>
		    <a href="{{ path('usuario_proyecto_edit', { 'id': entity.id }) }}">
		        Editar
		    </a>
		</li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
