{% extends '::base.html.twig' %}

{% block body -%}
	<h1>Datos del usuario</h1>
	{{usuario.nombre}} {{usuario.apellido}} - {{usuario.cedula}}<br/>

{#	<a class="btn btn-default" href="{{ path('admin_usuario_edit', {'id':usuario.id}) }}">Actualizar datos basicos usuario</a> #}
	<a class="btn btn-default" href="{{ path('usuario_miPerfil') }}">Mi perfil</a>
	<a class="btn btn-default" href="{{ path('proyecto_terminados') }}">Bibloteca</a>
	<a class="btn btn-default" href="{{ path('logout') }}">Salir</a>
{#	<a href="{{ path('admin_estudiante_edit', {'id':usuario.id}) }}">Actualizar datos estudiante</a> #}


	<div>
		<h1>Mis Proyectos</h1>
		
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>Nombre</th>
					<th>Rol</th>
				</tr>
			</thead>
		
			<tbody>
				{% for participacion in participaciones %}
					<tr>
						<td>
							{{participacion.proyecto.id}}
						</td>
						<td>
							{{participacion.proyecto.nombre}}
						</td>
						<td>
							{{participacion.rol}}
						</td>
						<td>
							<a href="{{ path('usuario_proyecto_show', {'id':participacion.proyecto.id}) }}">Detalles</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<a href="{{path('usuario_proyecto_new')}}">Registrar nuevo Proyecto</a>

	</div>



{% endblock %}
